<template>
  <aside class="h-screen fixed w-60 px-8 py-4 dark:bg-gray-900 bg-gray-100 border-r">
    <nav class="mt-8">
      <h2 class="tex-xs font-semibold text-gray-600 uppercase tracking-wider my-2">Tive</h2>
      <div class="mt-2 -mx-3">
        <a v-on:click="redirectToProjects" class="dark:bg-gray-800 dark:text-gray-200 cursor-pointer flex justify-between items-center px-3 py-1 text-sm font-medium text-gray-800 bg-gray-200 rounded-lg">
          <span>Projekte</span>
          <span class="dark:text-gray-200 text-xs font-semibold text-gray-700">{{ projektAnzahl }}</span>
        </a>

        <router-link to="/account">
          <a  class="dark:bg-gray-800 dark:text-gray-200 flex justify-between items-center mt-6 px-6 py-2 text-sm font-medium text-gray-800 rounded-lg bg-gray-200">
            <img class="inline-block h-7 w-7 rounded-full ring-2 ring-white" :src="userimage" alt="" />
            <span class="inline-block text-sm">{{this.$store.getters.user.name}}</span>
          </a>
        </router-link>
        <!--<button v-on:click="switchDarkMode()" class="hover:bg-blue-400 mt-3 text-base font-medium px-3 py-1 bg-blue-600 rounded text-gray-200">Toggle Darkmode</button>-->
        <button v-on:click="logout()" class="hover:bg-blue-400 mt-3 text-base font-medium px-3 py-1 bg-blue-600 rounded text-gray-200">Ausloggen</button>
      </div>
    </nav>
  </aside>
</template>

<script>
import constants from "../constants/constants";

export default {
  name: "Navigation",
  props: ['user'],
  data() {
    return {
      userimage: this.$store.getters.user.image,
      projektAnzahl: null,
      BACKENDSERVER: constants.backendServer,
    }
  },
  methods: {
    getQuantityProjects() {
      this.axios.get(`${this.BACKENDSERVER}/projectquantity`, {
        headers: {
          'Accept' : 'application/json',
          'Authorization': `Bearer ${this.$store.getters.token}`
        }
      }).then((res) => {
        this.projektAnzahl = res.data[0].anzahl;
      }).catch((error) => {
        console.error(error);
      })

    },
    switchDarkMode() {
      if(localStorage.theme === 'white') {
        localStorage.theme = 'dark';
        document.documentElement.classList.add('dark');
      } else if(localStorage.theme === 'dark') {
        localStorage.theme = 'white';
        document.documentElement.classList.remove('dark');
      }
    },
    redirectToProjects() {
      this.$router.push('/home');
    },
    logout() {
      this.axios.post(`${this.BACKENDSERVER}/logout`, {}, {
        headers: {
          'Accept' : 'application/json',
          'Authorization': `Bearer ${this.$store.getters.token}`
        }
      }).then(() => {
        this.$store.commit('user', '');
        this.$store.commit('token', '');
        this.$router.push('/');
      }).catch((error) => {
        console.error(error);
      })

    },
  },
  beforeMount() {
    this.getQuantityProjects();
  }
}
</script>

<style scoped>

</style>