<template>
  <div class="flex dark:bg-gray-800">
    <navigation user="Till Weckheuer"></navigation>
    <div class="account">
      <div class="fixed inset-0 flex justify-center items-center ml-56 flex-1 min-w-0 p-8 mx-auto">
        <div class="mx-auto w-8/12">
          <div class="dark:bg-gray-600 bg-white rounded shadow flex flex-col p-4">
            <div class="dark:text-blue-400 text-2xl font-bold text-center">Benutzer</div>

            <div class="mb-4 flex">
              <label class="mt-4 dark:text-blue-400 font-bold text-grey-darker block mb-2">Profilbild: </label>
              <img class="ml-6 inline-block h-14 w-14 rounded-full ring-2 ring-white" :src="this.$store.getters.user.image" alt="" />
            </div>

            <div class="mb-4 flex">
              <label class="dark:text-blue-400 font-bold text-grey-darker block mb-2">Username:</label>
              <label class="ml-6 dark:text-blue-400 font-bold text-grey-darker block mb-2">{{ this.$store.getters.user.name }}</label>
            </div>

            <div class="mb-4 flex">
              <label class="dark:text-blue-400 font-bold text-grey-darker block mb-2">Email:</label>
              <label class="ml-14 dark:text-blue-400 font-bold text-grey-darker block mb-2">{{ this.$store.getters.user.email }}</label>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import Navigation from "@/components/Navigation";

export default {
  name: "Account.vue",
  components: {
    Navigation,
  },
  data() {
    return {
    }
  },
  methods: {
    redirectToProject(projectId) {
      this.$router.push(`/project/${projectId}`);
    },
  },
  mounted() {
  }
}
</script>

