<template>
  <div class="flex dark:bg-gray-800">
    <navigation user="Till Weckheuer"></navigation>
      <div class="flex-1 p-8 mx-auto ml-56">
        <div class="dark:text-blue-400 grid grid-cols-4 font-bold text-blue-700 text-base border-b-2 pb-3">
          <span>Projektbild</span>
          <span>Projektname</span>
          <span>Beschreibung</span>
          <span>Ersteller</span>
        </div>

        <div v-for="project in projects" :key="project.id">
          <div v-on:click="redirectToProject(project.id)" class="break-all dark:text-gray-300 grid grid-cols-4 border-b-2 rounded my-2 pb-3 cursor-pointer">
            <img class="w-12 h-12 rounded-full" :src="project.image" alt="">
            <span>{{ project.project_name }}</span>
            <span class="mr-4">{{ project.description }}</span>
            <span>{{ project.name }}</span>
          </div>
        </div>

        <button  v-on:click="toggleProjectModal = !toggleProjectModal" class="hover:bg-blue-400 mt-3 text-base font-medium px-3 py-1 bg-blue-600 rounded text-gray-200">Projekt erstellen</button>

        <div class="fixed overflow-x-auto overflow-y-auto inset-0 flex justify-center items-center z-50 bg-opacity-20 " v-if="toggleProjectModal">
          <div class="relative mx-auto w-auto">
            <div class="dark:bg-gray-600 bg-white w-full rounded shadow-2xl flex flex-col p-4">
              <div class="dark:text-blue-400 text-2xl font-bold text-center">Projekt erstellen</div>

              <div class="mb-4">
                <label class="dark:text-blue-400 font-bold text-grey-darker block mb-2">Projektbild</label>
                <img v-if="newProject.image" class="w-20 h-20" :src="newProject.image" alt="">
                <input @change="handleImage" type="file" accept="image/*" class="dark:bg-gray-600 min-h-full min-w-max resize border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white border-grey-light px-2 py-2 rounded shadow">
              </div>

              <div class="mb-4">
                <label class="dark:text-blue-400 font-bold text-grey-darker block mb-2">Projektname</label>
                <input v-model="newProject.name" type="text" class="dark:bg-gray-600 border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent w-full bg-white border-grey-light px-2 py-2 rounded shadow" placeholder="Projektname">
              </div>

              <div class="mb-4">
                <label class="dark:text-blue-400 font-bold text-grey-darker block mb-2">Projektbeschreibung</label>
                <textarea v-model="newProject.description" type="text" class="dark:bg-gray-600 min-h-full min-w-max w-96 h-52 resize border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white border-grey-light px-2 py-2 rounded shadow" placeholder="Projektbeschreibung"> </textarea>
              </div>

              <div class="dark:bg-gray-600 bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-6 mt-1 py-2 bg-gray-500 hover:bg-gray-400 text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm" v-on:click="toggleProjectModal = false; newProject.name = '';newProject.image = '';newProject.description = ''">Abbrechen</button>
                <button class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-6 mt-1 py-2 bg-blue-600 hover:bg-blue-400 text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm" v-on:click="createProject(); newProject.name = ''; newProject.image = ''; newProject.description = ''">Erstellen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import Navigation from "@/components/Navigation";
import constants from "../constants/constants";

export default {
  name: "Home.vue",
  components: {
    Navigation,
  },
  data() {
    return {
      toggleProjectModal: false,
      BACKENDSERVER: constants.backendServer,
      projects: [],
      newProject: {
        name: '',
        description: '',
        image: '',
      }
    }
  },
  methods: {
    testAlert(msg) {
      alert(msg);
    },
    redirectToProject(projectId) {
      this.$router.push(`/project/${projectId}`);
    },
    handleImage(e) {
      const selectedImage = e.target.files[0];
      this.createBase64Image(selectedImage);
    },
    createBase64Image(file) {
      const reader = new FileReader();

      reader.onload = (e) =>{
        this.newProject.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    createProject() {
      if(this.newProject.image) {
        this.axios.post(`${this.BACKENDSERVER}/storeproject`, {name: this.newProject.name, description: this.newProject.description, image: this.newProject.image, adminid: this.$store.getters.user.id}, {
          headers: {
            'Accept' : 'application/json',
            'Authorization': `Bearer ${this.$store.getters.token}`
          }
        }).then(() => {
          this.loadProjects();
          this.toggleProjectModal = false;
        }).catch((error) => {
          console.log(error);
        });
      } else {
        this.axios.post(`${this.BACKENDSERVER}/storeproject`, {name: this.newProject.name, description: this.newProject.description, adminid: this.$store.getters.user.id}, {
          headers: {
            'Accept' : 'application/json',
            'Authorization': `Bearer ${this.$store.getters.token}`
          }
        }).then(() => {
          this.loadProjects();
          this.toggleProjectModal = false;
        }).catch((error) => {
          console.log(error);
        });
      }
    },
    loadProjects() {
      this.axios.get(`${this.BACKENDSERVER}/projectlist`, {
        headers: {
          'Accept' : 'application/json',
          'Authorization': `Bearer ${this.$store.getters.token}`
        }
      }).then((res) => {
        this.projects = res.data;
      }).catch((error) => {
        console.error(error);
      })
    }
  },
  mounted() {
    this.loadProjects();
  },
  beforeMount() {
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
  }
}
</script>

<style scoped>

</style>