<template>
  <div class="bg-grey-lighter h-screen font-sans">
    <div class="container mx-auto h-full flex justify-center items-center">
      <div class="w-1/3">
        <h1 class="font-hairline mb-6 text-center font-bold text-2xl">Login</h1>
        <div class="border-teal p-8 border-t-12 bg-white mb-6 rounded-lg shadow-xl">

          <div class="mb-4">
            <label class="font-bold text-grey-darker block mb-2">Email</label>
            <input v-model="email" type="email" class="border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent w-full bg-white border-grey-light px-2 py-2 rounded shadow" placeholder="Email">
          </div>

          <div class="mb-4">
            <label class="font-bold text-grey-darker block mb-2">Passwort</label>
            <input v-model="password" type="password" class="border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent w-full bg-white border-grey-light px-2 py-2 rounded shadow" placeholder="Passwort">
          </div>

          <div v-if="toggleWrongLoginData || toggleNoLoginData" class="mb-4">
            <div class="bg-opacity-30 px-3 py-3 rounded shadow bg-red-600 flex items-start justify-between">
              <span v-if="toggleWrongLoginData" class="text-gray-600 text-sm font-semibold">Das Passwort stimmt nicht zu der angegebenen Email.</span>
              <span v-if="toggleNoLoginData" class="text-gray-600 text-sm font-semibold">Bitte geben Sie Ihre Email und Ihr passwort ein.</span>
              <div class="cursor-pointer " @click="toggleWrongLoginData = false; toggleNoLoginData = false">
                <svg class="w-4 h-4 text-gray-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </div>
            </div>
          </div>


          <div class="flex items-center justify-between">
            <button v-on:click="login()" class="bg-blue-700 hover:bg-teal text-white font-bold py-2 px-4 rounded">
              Login
            </button>
          </div>

        </div>
        <div class="text-center">
          <p class="text-grey-dark text-sm">Noch keinen Account? <a v-on:click="redirectToRegister()" class="cursor-pointer no-underline text-blue font-bold">Erstelle einen Account</a>.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import constants from "../constants/constants";

export default {
  name: "Login.vue",
  data() {
    return {
      user: {
        username: '',
        email: '',
        token: '',
      },
      email: '',
      password: '',
      BACKENDSERVER: constants.backendServer,
      toggleWrongLoginData: false,
      toggleNoLoginData: false,
    }
  },
  methods:{
    login() {
      if(this.email !== '' && this.password !== '') {
        this.axios.post(`${this.BACKENDSERVER}/login`, {email: this.email, password: this.password}, {
          headers: {
            'Accept' : 'application/json'
          }
        }).then((res) => {
          if(res.data.error_code === 1622016015) {
            this.toggleWrongLoginData = true;
          } else {
            this.$store.commit('user', res.data.user);
            this.$store.commit('token', res.data.token);
            this.$router.push('/home');
          }
        }).catch((error) => {
          console.log(error);
        });
      } else {
        this.toggleNoLoginData = true;
      }
    },
    redirectToRegister() {
      this.$router.push('/register');
    },
  }
}
</script>

<style scoped>

</style>