<template>
  <div id="app">
    <div class="flex dark:bg-gray-800">
      <navigation></navigation>
      <div class="ml-56 flex-1 min-w-0 p-8 mx-auto">
        <button  v-on:click="toggleTicketModal = !toggleTicketModal; loadUsers()" class="hover:bg-blue-500 mt-3 text-sm font-medium px-3 py-1 bg-blue-600 rounded text-gray-200 w-40 h-8">Ticket erstellen</button>
        <button v-if="isAdmin" v-on:click="toggleUserModal = !toggleUserModal" class="hover:bg-blue-500 ml-4 mt-3 text-sm font-medium px-3 py-1 bg-blue-600 rounded text-gray-200 w-40 h-8">Benutzer hinzufügen</button>
        <div class="grid grid-cols-3 mt-4">
          <div class="dark:bg-gray-700 px-3 py-3 mr-4 bg-gray-100 rounded-lg">
            <p class="dark:text-gray-300 text-sm font-semibold tracking-wide text-gray-700">
              To Do
            </p>
            <draggable class="h-full rounded-lg" :list="todo" group="tasks" animation="300" @end="onChange()">
              <div v-on:click="toggleTicketDetailModal = !toggleTicketDetailModal; currentTicketDetail = ticket" v-for="ticket in todo" :key="ticket.id" class="dark:bg-gray-500 dark:border-gray-400 grid grid-cols-2 grid-rows-3 px-3 pt-3 pb-5 mt-3 bg-white border border-white rounded shadow cursor-pointer">
                <p class="dark:text-gray-200 col-span-2 row-span-1 ">{{ ticket.titel }}</p>
                <p class="row-start-2 row-end-3 col-start-1 dark:text-gray-200 col-span-2 row-span-1 truncate text-gray-500">{{ ticket.description }}</p>
                <img class="row-start-2 row-end-3 col-start-3 w-9 h-9 row-span-2 rounded-full mr-1" :src="ticket.editorprofilbild" alt="">
                <img v-if="ticket.priority == 0" class="row-start-3 row-end-4 col-start-1 w-4 h-4" src="../images/low.png">
                <img v-else-if="ticket.priority == 1" class="row-start-3 row-end-4 col-start-1 w-4 h-4" src="../images/mittel.png">
                <img v-else-if="ticket.priority == 2" class="row-start-3 row-end-4 col-start-1 w-4 h-4" src="../images/hoch.png">
              </div>
            </draggable>
          </div>

          <div class="dark:bg-gray-700 px-3 py-3 mr-4 bg-gray-100 rounded-lg">
            <p class="dark:text-gray-300 text-sm font-semibold tracking-wide text-gray-700">
              Doing
            </p>
            <draggable class="h-full rounded-lg" :list="doing" group="tasks" animation="300" @end="onChange()">
              <div v-on:click="toggleTicketDetailModal = !toggleTicketDetailModal; currentTicketDetail = ticket" v-for="ticket in doing" :key="ticket.id" class="dark:bg-gray-500 dark:border-gray-400 grid grid-cols-2 grid-rows-3 px-3 pt-3 pb-5 mt-3 bg-white border border-white rounded shadow cursor-pointer">
                <p class="dark:text-gray-200 col-span-2 row-span-1 ">{{ ticket.titel }}</p>
                <p class="row-start-2 row-end-3 col-start-1 dark:text-gray-200 col-span-2 row-span-1 truncate text-gray-500">{{ ticket.description }}</p>
                <img class="row-start-2 row-end-3 col-start-3 w-9 h-9 row-span-2 rounded-full mr-1" :src="ticket.editorprofilbild" alt="">
                <img v-if="ticket.priority == 0" class="row-start-3 row-end-4 col-start-1 w-4 h-4" src="../images/low.png">
                <img v-else-if="ticket.priority == 1" class="row-start-3 row-end-4 col-start-1 w-4 h-4" src="../images/mittel.png">
                <img v-else-if="ticket.priority == 2" class="row-start-3 row-end-4 col-start-1 w-4 h-4" src="../images/hoch.png">
              </div>
            </draggable>
          </div>

          <div class="dark:bg-gray-700 px-3 py-3 mr-4 bg-gray-100 rounded-lg">
            <p class="dark:text-gray-300 text-sm font-semibold tracking-wide text-gray-700">
              Done
            </p>
            <draggable class="h-full rounded-lg" :list="done" group="tasks" animation="300" @end="onChange()">
              <div v-for="ticket in done" :key="ticket.id" >
                <div v-on:click="toggleTicketDetailModal = !toggleTicketDetailModal; currentTicketDetail = ticket" class="dark:bg-gray-500 dark:border-gray-400 grid grid-cols-2 grid-rows-3 px-3 pt-3 pb-5 mt-3 bg-white border border-white rounded shadow cursor-pointer">
                  <p class="dark:text-gray-200 col-span-2 row-span-1 ">{{ ticket.titel }}</p>
                  <p class="row-start-2 row-end-3 col-start-1 dark:text-gray-200 col-span-2 row-span-1 truncate text-gray-500">{{ ticket.description }}</p>
                  <img class="row-start-2 row-end-3 col-start-3 w-9 h-9 row-span-2 rounded-full mr-1" :src="ticket.editorprofilbild" alt="">
                  <img v-if="ticket.priority == 0" class="row-start-3 row-end-4 col-start-1 w-4 h-4" src="../images/low.png">
                  <img v-else-if="ticket.priority == 1" class="row-start-3 row-end-4 col-start-1 w-4 h-4" src="../images/mittel.png">
                  <img v-else-if="ticket.priority == 2" class="row-start-3 row-end-4 col-start-1 w-4 h-4" src="../images/hoch.png">
                </div>

              </div>

            </draggable>
          </div>

          <div class="fixed overflow-x-auto overflow-y-auto inset-0 flex justify-center items-center z-50 bg-opacity-20 " v-if="toggleTicketModal">
            <div class="relative mx-auto w-auto">
              <div class="dark:bg-gray-600 bg-white w-full rounded shadow-2xl flex flex-col p-4">
                <div class="dark:text-blue-400 text-2xl font-bold text-center">Ticket erstellen</div>

                <div class="mb-4">
                  <label class="dark:text-blue-400 font-bold text-grey-darker block mb-2"></label>
                </div>

                <div class="mb-4">
                  <label class="dark:text-blue-400 font-bold text-grey-darker block mb-2">Tickettitel</label>
                  <input v-model="newTicket.titel" type="text" class="dark:bg-gray-600 border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent w-full bg-white border-grey-light px-2 py-2 rounded shadow" placeholder="Tickettitel">
                </div>

                <div class="mb-4">
                  <label class="dark:text-blue-400 font-bold text-grey-darker block mb-2">Ticketbeschreibung</label>
                  <textarea v-model="newTicket.description" type="text" class="dark:bg-gray-600 min-h-full min-w-max w-96 h-52 resize border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white border-grey-light px-2 py-2 rounded shadow" placeholder="Ticketbeschreibung"> </textarea>
                </div>

                <div class="mb-4">
                  <label class="dark:text-blue-400 font-bold text-grey-darker block mb-2">Bearbeiter</label>
                  <div>
                    <div>
                      <div>
                        <input
                            id="email"
                            @keyup="showOptions = true"
                            v-model="formData.client"
                            class="dark:bg-gray-600 border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent w-full bg-white border-grey-light px-2 py-2 rounded shadow"
                            autocomplete="off"
                            placeholder="Benutzername"
                        />
                      </div>
                      <div v-show="users.length && showOptions" class="absolute w-full z-50 bg-white border border-gray-300 mt-1 max-height-48 overflow-hidden overflow-y-scroll rounded-md shadow-md">
                        <ul class="py-1">
                          <li
                              v-for='value in users' :key="value.userId"
                              @click="setInput(value)"
                              class="px-3 py-2 cursor-pointer hover:bg-gray-200"
                          >
                            {{ value.name }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-4">
                  <label class="dark:text-blue-400 font-bold text-grey-darker block mb-2">Priorität</label>
                    <div class="flex items-center">
                      <input id="prio_niedrig" value="0" name="prio" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" />
                      <label for="prio_niedrig" class="ml-3 block text-sm font-medium text-gray-700">
                        niedrig
                      </label>
                    </div>
                    <div class="flex items-center">
                      <input id="prio_mittel" value="1" name="prio" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" />
                      <label for="prio_mittel" class="ml-3 block text-sm font-medium text-gray-700">
                        mittel
                      </label>
                    </div>
                    <div class="flex items-center">
                      <input id="prio_hoch" value="2" name="prio" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" />
                      <label for="prio_hoch" class="ml-3 block text-sm font-medium text-gray-700">
                        hoch
                      </label>
                  </div>
                </div>

                <div class="dark:bg-gray-600 bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                  <button class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-6 mt-1 py-2 bg-gray-500 hover:bg-gray-400 text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm" v-on:click="toggleTicketModal = false; newTicket.titel = '';newTicket.description = '';newTicket.priority = 0; newTicket.editorId = null; formData.client = ''">Abbrechen</button>
                  <button class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-6 mt-1 py-2 bg-blue-600 hover:bg-blue-400 text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm" v-on:click="createTicket(); newTicket.titel = ''; newTicket.description = '';newTicket.priority = 0;newTicket.editorId = null; formData.client = ''">Erstellen</button>
                </div>
              </div>
            </div>
          </div>

          <div class="fixed overflow-x-auto overflow-y-auto inset-0 flex justify-center items-center z-50 bg-opacity-20 " v-if="toggleUserModal">
            <div class="relative mx-auto w-auto">
              <div class="dark:bg-gray-600 bg-white w-full rounded shadow-2xl flex flex-col p-4">
                <div class="dark:text-blue-400 text-2xl font-bold text-center">Benutzer hinzufügen</div>

                <div class="mb-4">
                  <label class="dark:text-blue-400 font-bold text-grey-darker block mb-2"></label>
                </div>

                <div class="mb-4">
                  <label class="dark:text-blue-400 font-bold text-grey-darker block mb-2">Email</label>
                  <input v-model="newUser.email" type="text" class="dark:bg-gray-600 border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent w-full bg-white border-grey-light px-2 py-2 rounded shadow" placeholder="Email">
                </div>

                <div v-if="toggleNoValidUser" class="mb-4">
                  <div class="bg-opacity-30 px-3 py-3 rounded shadow bg-red-600 flex items-start justify-between">
                    <span class="text-gray-600 text-sm font-semibold">Bitte geben Sie eine Email an die bei Tive registriert ist.</span>
                    <div class="cursor-pointer " @click="toggleNoValidUser = false;">
                      <svg class="w-4 h-4 text-gray-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </div>
                  </div>
                </div>


                <div class="dark:bg-gray-600 bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                  <button class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-6 mt-1 py-2 bg-gray-500 hover:bg-gray-400 text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm" v-on:click="toggleNoValidUser = false; toggleUserModal = false; newUser.email = '';">Abbrechen</button>
                  <button class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-6 mt-1 py-2 bg-blue-600 hover:bg-blue-400 text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm" v-on:click="toggleNoValidUser = false; addUserToProject();">Hinzufügen</button>
                </div>
              </div>
            </div>
          </div>


          <div class="fixed overflow-x-auto overflow-y-auto inset-0 flex justify-center items-center z-50 bg-opacity-20" v-if="toggleTicketDetailModal">
            <div class="relative mx-auto w-10/12">
              <div class="dark:bg-gray-600 bg-white w-full rounded shadow-2xl grid grid-cols-2 grid-rows-3 p-4">
                <div class="dark:text-blue-400 text-2xl font-bold text-center row-start-1 col-start-1 col-span-2">{{this.currentTicketDetail.titel}}</div>


                <div class="dark:text-blue-400 text-2xl col-start-2 col-span-1 row-start-2 bg-gray-100">

                  <div v-if="!toggleTicketbeartbeiten" class="p-4 flex">
                    <label class="dark:text-blue-400 text-grey-darker text-lg block mb-2 row-start-2 col-start-1 col-span-1">Bearbeiter: </label>
                    <img class="w-9 h-9 row-span-2 rounded-full mr-1 ml-2" :src="currentTicketDetail.editorprofilbild" alt="">
                    <label class="dark:text-blue-400 text-grey-darker text-lg block mb-2 row-start-2 col-start-1 col-span-1">{{this.currentTicketDetail.editorname}}</label>
                  </div>
                  <div v-else class="mb-4 flex pl-4 pt-4">
                    <div>
                      <div>
                        <div>
                          <input
                              @keyup="showOptions = true"
                              v-model="formData.client"
                              class="dark:bg-gray-600 border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white border-grey-light px-2 py-2 rounded shadow h-8"
                              autocomplete="off"
                              placeholder="Benutzername"
                          />
                        </div>
                        <div v-show="users.length && showOptions" class="absolute z-50 bg-white border border-gray-300 mt-1 max-height-48 overflow-hidden overflow-y-scroll rounded-md shadow-md">
                          <ul class="py-1">
                            <li
                                v-for='value in users' :key="value.userId"
                                @click="setInput(value)"
                                class="px-3 py-2 cursor-pointer hover:bg-gray-200"
                            >
                              {{ value.name }}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pl-4 flex">
                    <label class="dark:text-blue-400 text-grey-darker text-lg block mb-2 row-start-2 col-start-1 col-span-1">Priorität: </label>
                    <img v-if="currentTicketDetail.priority == 0" class="ml-2 mt-1 w-5 h-5" src="../images/low.png">
                    <img v-else-if="currentTicketDetail.priority == 1" class="ml-2 mt-1 w-5 h-5" src="../images/mittel.png">
                    <img v-else-if="currentTicketDetail.priority == 2" class="ml-2  mt-1 w-5 h-5" src="../images/hoch.png">
                  </div>
                  <button class="rounded-md border border-transparent shadow-sm px-6 py-2 bg-blue-600 hover:bg-blue-400 text-base font-medium text-white sm:ml-3 sm:text-sm h-10 w-28" v-on:click="toggleTicketbeartbeiten = true">Bearbeiten</button>
                </div>

                <div class="mb-4">
                  <label class="dark:text-blue-400 text-grey-darker block mb-2 row-start-2 col-start-1 col-span-1 break-words md:max-w-lg">{{this.currentTicketDetail.description}}</label>
                </div>


                <div class="dark:bg-gray-600 row-start-3 col-start-1 col-span-2 sm:flex sm:flex-row-reverse ">
                  <button class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-6 pt-2 mt-14 bg-gray-500 hover:bg-gray-400 text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm h-10 " v-on:click="toggleTicketDetailModal = false; toggleTicketbeartbeiten = false">Schließen</button>
                  <button v-if="toggleTicketbeartbeiten" class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-6 pt-2 mt-14 bg-blue-600 hover:bg-blue-400 text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm h-10 " v-on:click="updateTicket()">Speichern</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import draggable from 'vuedraggable';
import Navigation from "@/components/Navigation";
import constants from "../constants/constants";

export default {
  name: "Home.vue",
  components: {
    Navigation,
    draggable,
  },
  data() {
    return {
      BACKENDSERVER: constants.backendServer,
      projectid: this.$route.params.projectId,
      toggleTicketModal: false,
      toggleUserModal: false,
      toggleTicketDetailModal: false,
      isAdmin: false,
      toggleTicketbeartbeiten: false,
      toggleNoValidUser: false,
      currentTicketDetail: {
      },
      newTicket: {
        titel: '',
        description: '',
        editorId: null,
        columnId: 1,
        endTime: '2021-06-12',
        priority: 0
      },
      newUser: {
        email: '',
      },
      todo: [],
      doing: [],
      done: [],
      formData: {},
      showOptions: false,
      userdata: [],
    };
  },
  computed: {
    users: function() { return this.resultQuery()},
  },
  methods: {

    setInput(value) {
      this.$set(this.formData, "client", value.name);
      this.$set(this.formData, "client_id", value.userId);
      this.newTicket.editorId = value.userId;
      if(this.toggleTicketbeartbeiten) {
        this.currentTicketDetail.editorId = value.userId;
      }
      this.showOptions = false;
    },
    loadUsers() {
      this.axios.get(`${this.BACKENDSERVER}/getprojectsuser/${this.projectid}`, {
        headers: {
          'Accept': 'application/json',
          'Authorization': `Bearer ${this.$store.getters.token}`
        }
      }).then((res) => {
        this.userdata = res.data;
      }).catch((error) => {
        console.error(error);
      })
    },
    resultQuery() {
      if (this.formData.client) {
        let data = this.userdata.filter((item) => {
          return this.formData.client.toLowerCase().split(" ").every((v) => item.name.toLowerCase().includes(v));
        });
        return data;
      } else {
        return [];
      }
    },
    testAlert(msg){
      alert(msg);
    },
    onChange() {
      this.todo.forEach( (todoelement)=> {
        this.axios.post(`${this.BACKENDSERVER}/updateticketcolumn/${todoelement.id}`, {columnId: 1}, {
          headers: {
            'Accept' : 'application/json',
            'Authorization': `Bearer ${this.$store.getters.token}`
          }
        }).then(() => {
          this.loadTickets();
        }).catch((error) => {
          console.log(error);
        });
      });
      this.doing.forEach( (doingelement)=> {
        this.axios.post(`${this.BACKENDSERVER}/updateticketcolumn/${doingelement.id}`, {columnId: 2}, {
          headers: {
            'Accept' : 'application/json',
            'Authorization': `Bearer ${this.$store.getters.token}`
          }
        }).then(() => {
          this.loadTickets();
        }).catch((error) => {
          console.log(error);
        });
      });
      this.done.forEach( (doneelement)=> {
        this.axios.post(`${this.BACKENDSERVER}/updateticketcolumn/${doneelement.id}`, {columnId: 3}, {
          headers: {
            'Accept' : 'application/json',
            'Authorization': `Bearer ${this.$store.getters.token}`
          }
        }).then(() => {
          this.loadTickets();
        }).catch((error) => {
          console.log(error);
        });
      });
    },
    loadTickets(){
      this.axios.get(`${this.BACKENDSERVER}/tickets/${this.projectid}`, {
        headers: {
          'Accept': 'application/json',
          'Authorization': `Bearer ${this.$store.getters.token}`
        }
      }).then((res) => {
        if(res.data) {

          this.todo = [];
          this.doing = [];
          this.done = [];

          res.data.forEach((ticket) => {
            switch (ticket.columnId) {
              case 1: this.todo.push(ticket);
                break;
              case 2: this.doing.push(ticket);
                break;
              case 3: this.done.push(ticket);
            }
          })
        }
      }).catch((error) => {
        console.error(error);
      })
    },
    createTicket() {
      document.getElementsByName('prio').forEach(radio => {
        if(radio.checked) {
          this.newTicket.priority = radio.value;
        }
      })

      if(this.newTicket.titel === '' || this.newTicket.description === '' || this.newTicket.editorId === null || this.newTicket.priority === 0) {
        console.log("test")

      } else {
        this.axios.post(`${this.BACKENDSERVER}/storetickets`, {titel: this.newTicket.titel, userIdCreator: this.$store.getters.user.id, userIdEditor: this.newTicket.editorId, columnId: this.newTicket.columnId, projectId: this.projectid, endTime: this.newTicket.endTime, priority: this.newTicket.priority, description: this.newTicket.description}, {
          headers: {
            'Accept' : 'application/json',
            'Authorization': `Bearer ${this.$store.getters.token}`
          }
        }).then(() => {
          this.loadTickets();
          this.toggleTicketModal = false;
        }).catch((error) => {
          console.log(error);
        });
      }
    },
    addUserToProject() {
      if(this.newUser.email !== '') {
        this.axios.post(`${this.BACKENDSERVER}/addusertoproject`, {email: this.newUser.email, projectId: this.projectid}, {
          headers: {
            'Accept' : 'application/json',
            'Authorization': `Bearer ${this.$store.getters.token}`
          }
        }).then(() => {
          this.toggleUserModal = false;
        }).catch(() => {
          this.toggleNoValidUser = true;
        });
      }
    },
    isProjectAdmin() {
      this.axios.get(`${this.BACKENDSERVER}/getProjectAdmin/${this.projectid}`, {
        headers: {
          'Accept' : 'application/json',
          'Authorization': `Bearer ${this.$store.getters.token}`
        }
      }).then((res) => {
        if(this.$store.getters.user.id === res.data[0].adminid) {
          this.isAdmin =  true;
        } else {
          this.isAdmin =  false;
        }
      }).catch(() => {
        this.isAdmin =  false;
      });
    },
    updateTicket() {
      this.axios.post(`${this.BACKENDSERVER}/upateticket/${this.currentTicketDetail.id}`, {titel: this.currentTicketDetail.titel, userIdCreator: this.$store.getters.user.id, userIdEditor: this.currentTicketDetail.editorId, columnId: this.currentTicketDetail.columnId, projectId: this.projectid, endTime: this.currentTicketDetail.endTime, priority: this.currentTicketDetail.priority, description: this.currentTicketDetail.description}, {
        headers: {
          'Accept' : 'application/json',
          'Authorization': `Bearer ${this.$store.getters.token}`
        }
      }).then(() => {
        this.toggleTicketDetailModal = false;
        this.toggleTicketbeartbeiten = false;
        this.loadTickets();
      }).catch((error) => {
        console.log(error);
      });

    },
  },

  mounted() {
    this.loadTickets();
    this.loadUsers();
    this.isProjectAdmin();
  }
}
</script>

<style scoped>

</style>